body {
    width: 100%;
}

#GridView1 td {
    text-align: center;
}

#GridView1 th,
#GridView1 td {
    width: 200px;
    text-align: center;
}

h2 {
    text-align: center;
    -webkit-text-align: center;
}

.MainContent_GridView1 {
    text-align: center;
}
#lblID {
    text-align: center;
}
